<html lang="en">

<!-- // // head added using partials  -->
<%- include('./partials/head.ejs') %>


    <body>
        <!-- // // navbar added using partials  -->
        <%- include('./partials/nav.ejs') %>
            <div class="blogs content">
                <h2>All Blogs</h2>
                <% blogs && blogs.map((item,index)=>{%>
                    <a href='/blogs/<%= item._id%>' class="single">
                        <h1 class="title">
                            <%= item.title%>
                        </h1>
                        <h2 class="snippet">
                            <%= item.snippet%>
                        </h2>
                    </a>
                    <%})%>
                        <% if(blogs.length===0){%>
                            Create new blog
                            <%}%>
            </div>

            <!-- // // footer added using partials  -->
            <%- include('./partials/footer.ejs') %>
    </body>

</html>